.label {
  display: grid;
  place-items: center start;
  min-width: 80px;
  padding: 0 8px;
  height: 48px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  color: #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
